---
import "../styles/main.css";
---

<main>
  <section class="page">
    <ul>
      <h2>Kirill Nevzorov</h2>
      <h1>Links</h1>
      <section>
        <h4>Email</h4>
        <ul>
          <li>
            <a href="mailto:akinevz@gmail.com">akinevz@gmail.com</a>
          </li>
          <li>
            <a href="mailto:akinevz@outlook.com">akinevz@outlook.com</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>GitHub</h4>
        <ul>
          <li>
            <a href="https://github.com/akinevz">akinevz (archive)</a>
          </li>
          <li>
            <a href="https://github.com/akinevz2">akinevz2</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>Instagram</h4>
        <ul>
          <li>
            <a href="https://www.instagram.com/akinevz2">akinevz2</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>LinkedIn</h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/akinevz">akinevz</a>
          </li>
        </ul>
      </section>
      <section>
        <h4>Soundcloud</h4>
        <ul>
          <li>
            <a href="https://soundcloud.com/akinevz">akinevz</a>
          </li>
          <li>
            <a href="https://soundcloud.com/not-akinevz">the-vegetable-man</a>
          </li>
        </ul>
      </section>
    </ul>
    <h1>Contact me</h1>
    <section class="contact-container">
      <form id="form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Send</button>
      </form>
    </section>
  </section>
</main>

<style>
  form {
    display: flex;
    flex-direction: column;
  }
  label,
  input,
  textarea {
    margin-bottom: 1em;
  }
</style>
<script>
  function modal(message: string) {
    return (event: Event) => {
      event.preventDefault();
      alert(message);
      return false;
    };
  }
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("form");
    if (form) {
      form.addEventListener("submit", modal("Not yet implemented!"));
    }
  });
</script>
